.btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 60px;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity $trans-default;
  position: relative;

  @include hover-focus {
    opacity: 0.5;
  }
}
